name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  rust-runner:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Verify
        run: cargo xtask verify
